spring-test/leecode/target/test-classes/
spring-test/spring-boot-test/target/
spring-test/spring-jpa-test/target/
spring-test/.settings/
*.project
*.classpath
spring-test/spring-jpa-test/.settings/
spring-test/spring-boot-test/.settings/
spring-test/leecode/.settings/
spring-test/shell-test/.settings/
spring-test/shell-test/target/
spring-test/canal-test/.settings/
spring-test/canal-test/target/
spring-test/dubbo-test/.settings/
spring-test/dubbo-test/target/
